a,
button {
    text-decoration: none;
    background-color: #b5ca15;
    color: #8e2627;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px;

}

a:hover {
    color: #5e5f5a;
}

h1,
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: #faeca5

}

.container {
    text-align: center;
}